.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    transform: scaleX(1);
    opacity: 1;
  
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  
    transition: transform 250ms $cubic,
    background-color 250ms $cubic,
    opacity 250ms $cubic;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        transform: scaleX(0);
    }
    &.is-hidden .modal {
        transform: scaleY(0.5) translate(-50%, -50%);
    }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 250ms $cubic;
  
    width: 528px;
    height: 581px;
    
    background-color: #fff;
    padding: 40px;
 
    &__button {
        position: absolute;
        top: 8px;
        right: 8px;
    
        background-color: $white-background;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        fill: #000000;
        margin-bottom: 2px;
        cursor: pointer;
    }
}
.form {
    text-align: center;
}
    .form__title {
        color: $primary-text-color;
        font-weight: 700;
        font-size: 20px;
        line-height: calc(23 / 20);
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
      }
      .form__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        position: relative;
      
      &.comment {
        margin-bottom: 20px;
      }
    }
        .form__label {
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: $secondary-text-color;
        margin-bottom: 4px;
        text-align: left;
        
      }
        .form__input {
        margin: 0;
        padding-left: 42px;
        padding-top: 9.5px;
        padding-bottom: 9.5px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border 250ms $cubic;
        outline: none;
        
      }
        .form__icon {
        position: absolute;
        top: 31px;
        left: 15px;
        display: inline-block;
      
        width: 12px;
        height: 12px;
        fill: $primary-text-color;
        transition: fill 250ms $cubic;
      }
      .form__textarea {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        padding: 12px 16px;
        resize: none;
      }
      .form__field:focus-within > .form__input {
        border: 1px solid $brand-color;
      }
      .form__field:focus-within > .form__icon {
        fill: $brand-color;
      }
      .form__field:focus-within > .form__textarea {
        border: 1px solid $brand-color;
      }
      
.checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  color: $secondary-text-color;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
    .checkbox__input:checked + .checkbox__icon {
    border-color: $brand-color;
    background-color: $brand-color;
    background-origin: border-box;
    }
  .checkbox__icon {
    margin-right: 7px;
    display: inline-block;
    width: 16px;
    height: 15px;
    
    border: 2px solid $primary-text-color;
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 250ms $cubic,
    background-color 250ms $cubic;
  
}
  .checkbox__link {
    color: $brand-color;
  }

.form__button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $brand-color;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: $primary-white-color;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $secondary-brand-color;
  }
}