
.gallery {
    @extend %list;
    display: flex;
    gap: 30px;
}
    .gallery__img {
        display: block;
        height: auto;
        max-width: 100%;
    }
    .gallery__thumb {
        position: relative;
    }
    .gallery__text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;

        background-color: rgba(47, 48, 58, 0.8);
        width: 370px;
        height: 70px;
        color: $primary-white-color;

        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
